@page
@model LoginModel

<body>
    <div class="row">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-4">
                <section>
                    <form id="account" method="post">
                        <h2 class="text-center" style="color: #757575">Enter your credentials</h2>
                        <br />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" style="color: #757575" />
                            <label asp-for="Input.Email" class="form-label"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-floating">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" style="color: #757575" />
                            <label asp-for="Input.Password" class="form-label"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <br />
                        <div>
                            <button id="login-submit" type="submit" class="btn btn-success p-3 fw-bold rounded-pill" style="color: #DBF6FF; background-color: #1D7FCC; border: 0px; width: 410px; height: 40px; text-align: center; line-height: 5px; border-radius: 20px;">Sign In</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}