<div class="card text-center">
    <div class="card-header">
        Products
    </div>
    <div class="card-body">
        @{
            for (int i = 0; i < 5; i++)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Product Name</h5>
                        <p class="card-text">Product Quantity: 3</p>
                        <p class="card-text">Product Price: 50 USD</p>
                    </div>
                </div>
            }
        }
    </div>
    <div class="card-footer text-muted">
        Total Price: 500 USD (Example)
    </div>
</div> 