<div class="position-fixed" style="top: 55px; left: 0; bottom: 0; width: 230px;">
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse" style="height: 88vh; background-color: #DBF6FF; border: 1px solid #2295F0; border-bottom: 0px">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-5 mt-3">
                <a class="nav-link" style="color: #2295F0"><b>Menu</b></a>
                <a class="nav-link" style="color: #757575; font-size: 16px" asp-area="" asp-controller="Sell" asp-action="CreateSale"><input type="hidden" name="category" value="Gaming">Create Sale</a>
                <a class="nav-link" style="color: #757575; font-size: 16px" asp-area="" asp-controller="Sell" asp-action="SellSystem"><input type="hidden" name="category" value="News">Review My Sales</a>
            </div>
        </div>
    </nav>
</div>